<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <meta name="description" content="Bootstrap Admin App">
   <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">
   <link rel="icon" type="image/x-icon" href="favicon.ico">
   <title>Angle - Bootstrap Admin Template</title>
</head>

<body>
   <div class="wrapper">
      <div class="abs-center wd-xl">
         <!-- START card-->
         <div class="text-center mb-4">
            <div class="mb-3">
               <em class="fa fa-wrench fa-5x text-muted"></em>
            </div>
            <div class="text-lg mb-3">403</div>
            <p class="lead m-0">Erişim Yetkiniz Dışında</p>
            <p>Bir İstekde Bulundunuz</p>
         </div>
         <ul class="list-inline text-center text-sm mb-4">
            <li class="list-inline-item">
               <a class="text-muted" style="font-size: large;" href="/">Giriş Sayfası İçin Tıklayınız</a>
            </li>
         </ul>
         <div class="p-3 text-center">
            <span class="mr-2">&copy;</span>
            <span>2020</span>
            <span class="mr-2">-</span>
            <span>Vedubox</span>
            <br>
            <span>Online Student Management System</span>
         </div>
      </div>
   </div>
</body>

</html>